<h3> Users#Show | User Profile</h3>
<!-- app/views/users/show -->

<hr>
<br>

<h3> Welcome <%= current_user.email %> </h3>
<h4> You have <%= @restaurants.count %> Restaurants  </h4>

<br>

<%= render "restaurants/rendered" %>
