<div class="card">
  <br>
<h1> Login </h1>
<hr>
  <form action="/sessions" method="POST">
    <h3>Email</h3>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <input type="email" name="login[email]" placeholder="Email">
    <br>
    <br>

    <h3>Password</h3>
    <input type="password" name="login[password]" placeholder="Password">
    <br>
    <br>
    <input type="submit" name="submit" class="submit">
  </form>
  <br>
</div>
