<h1>About</h1>
<hr>
<p>Thanks for stopping by! <strong>FoodChooser</strong> was created by <a href="https://jmichaeln5.github.io/portfolio/">Jonathan Norton</a>. Click <a href="https://jmichaeln5.github.io/portfolio/">here</a> to check out my portfolio and other applications I have developed.</p>
