<h1>New Restaurant</h1>
<br>
<%= render 'form', restaurant: @restaurant %>

<%#= link_to 'New restaurant menu', new_restaurant_menu_path(@user, @restaurant) %>


<br>
<br>

<%= link_to 'Back', :back %>
