<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"> FoodChooser </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if current_user %>

      <li class="nav-item">
        <%= link_to "Welcome #{@user.email}",  user_path(@user), class:"nav-link"   %>
      </li>

      <li class="nav-item">
        <%= link_to "User Restaurants",  user_restaurants_path(@user), class:"nav-link"   %>
      </li>

        <li class="nav-item">
           <!-- <%= link_to ' Log out', logout_path %> -->
           <a class="nav-link" href="/logout"> Logout </a>
        </li>

        <% else %>

        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about">About</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/start">Start <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/restaurants">Restaurants <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/menus">Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/items">Items</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/index">Users#index</a>
        </li> -->

      <% end %>
    </ul>
  </div>
</nav>
